.head {
	text-align: center;
	color: white;
} 
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: url("Background2.jpg");\
  background-attachment: fized;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
	color: white; 
	font-size: 29px;
	font-style: italic;
}
p {
	color: red;
}

h3 {
	color: white;
}

h1 {
	font-size: 60px;
}

embed{
	width: 75%;
	height: 900px;
}
ul {
	color: white;
}
